* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}
body{
    background:#fffffc;
    color: #000;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7ec;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2ec4b6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #2ec4b6;
} 

/* About Section */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%; /* Width of the column */
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;  /* corner */
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #000;
}
.subtitle span{
    color: #2ec4b6;
}
.about-col-2 p span{
    color: #000;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
/* Skills Section */
#skills{
    padding: 30px 0;
}
.skill-container{
    background-color: #f7f7f7ec;

}
.skills-list{
    display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding: 20px 0;
        
}
.skills-list div{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    
}
.skills-list .card{
    padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 100%;
}
@media screen and (max-width: 600px) {
    .skills-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .skills-list{
        grid-template-columns: repeat(1, 1fr);
    }
}
.services-list div:hover{
    background: #2ec4b6;
    transform: translateY(-10px);
}

/* Button Styles */
.button {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
}

.button:hover {
    background-color: #000;
}
.outlined-button {
    background-color: transparent;
    border: 2px solid #2ec4b6;
    color: #2ec4b6;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover state */
.outlined-button:hover {
    background-color: #2ec4b6;
    color: #fff;
}